In [84]:
import pandas as pd
import requests
import string
import bs4 as bs
import urllib.request
import requests
import urlparse

In [85]:
p_atletas= []
p_sexo   = []
p_regiao = []
p_bolsas = []
p_invest = []

string = ''
stringaux = ''
page_counter = 0

#atualmente são 268 iterações, demora!

while page_counter <= 26800:
    source = urllib.request.urlopen("http://www.inteligenciaesportiva.ufpr.br/sistema/admin/relatoriosvisitante/bolsas_atletas/orderby%7Catleta-asc/p-" + str(page_counter)).read()
    soup = bs.BeautifulSoup(source,'lxml')
    atletas = soup.find_all('td',{'class': 'a-esq'})
    sexo_regiao = soup.find_all('td',{'class': 'upper'})
    bolsas_invest = soup.find_all('td',{'class': 'a-dir'})

    for i in atletas:
        string = i.getText()
        for k in range(len(string)):
            if string[k] != '\n' and string[k] != '\t':
                stringaux += string[k]
        p_atletas += [stringaux]
        stringaux = ''

    for i in range(len(sexo_regiao)):
        string = sexo_regiao[i].getText()
        for k in range(len(string)):
            if string[k] != '\n' and string[k] != '\t':
                stringaux += string[k]

        if (i+1) % 2 == 0:
            p_regiao += [stringaux]
        else:
            p_sexo += [stringaux]

        stringaux = ''

    for i in range(len(bolsas_invest)):
        string = bolsas_invest[i].getText()
        for k in range(len(string)):
            if string[k] != '\n' and string[k] != '\t':
                stringaux += string[k]

        if (i+1) % 2 == 0:
            p_invest += [stringaux]
        else:
            p_bolsas += [stringaux]

        stringaux = ''

    p_bolsas = p_bolsas[:-1]
    p_invest = p_invest[:-1]

    page_counter += 100
    print(page_counter, "dados adicionados com sucesso", end="\r")

In [88]:
df1 = pd.DataFrame(p_atletas,columns =['Atleta'],index=None)
df2 = pd.DataFrame(p_sexo,columns =['Sexo'],index=None) 
df3 = pd.DataFrame(p_regiao,columns =['Região'],index=None)
df4 = pd.DataFrame(p_bolsas,columns =['Nº Bolsas'],index=None) 
df5 = pd.DataFrame(p_invest,columns =['Valor Investido'],index=None)

result = pd.concat([df1, df2, df3, df4, df5], axis=1)
result

,Atleta,Sexo,Região,Nº Bolsas,Valor Investido
0,AARON ALEXANTHER CODINA VIVANCO,masculino,Sudeste (SP),1,"R$ 11.100,00"
1,AARON ANDRADE POSSAN,masculino,Sul (RS),1,"R$ 4.440,00"
2,AARON CEZAR VARGAS LIMA,masculino,Sudeste (SP),1,"R$ 22.200,00"
3,AARON PEDRO MARIZ,masculino,Centro-oeste (DF),1,"R$ 11.100,00"
4,ABADIA AUXILIADORA DO NASCIMENTO RODRIGUES OLI...,feminino,Sudeste (MG),5,"R$ 102.600,00"
...,...,...,...,...,...
26830,ZILMAR ANTONIO PIRES,masculino,Sudeste (SP),1,"R$ 18.000,00"
26831,ZOELZER POUBEL VIDAOURRE NETO,masculino,(),1,"R$ 11.100,00"
26832,ZOLA MONTEIRO MAKWIZA,masculino,Nordeste (PE),3,"R$ 33.300,00"
26833,ZUILA SOARES RIBEIRO,feminino,Norte (PA),4,"R$ 44.400,00"
26834,ZULMAR APARECIDA DA SILVA,masculino,Sudeste (MG),3,"R$ 33.300,00"

In [90]:
path = r"inteligencia_esportiva.xlsx"
writer = pd.ExcelWriter(path, engine = 'xlsxwriter')
    
result.to_excel(writer, index=False)
print("Excel escrito com sucesso")
    
writer.save()
writer.close()

Excel escrito com sucesso

In [ ]:
#em desenvolvimento

"http://www.inteligenciaesportiva.ufpr.br/sistema/admin/relatoriosVisitante/bolsas_atletas/atleta%7C%7Cmodalidade%7C%7Cano%7C%7Cbolsanivel%7C%7Csexo%7C%7Cregiao%7C%7C"